<h1>Navigation</h1>
<main>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, facilis sed quidem vel asperiores enim
    quia eum reprehenderit pariatur aliquam velit! Cupiditate suscipit ipsam reiciendis, a accusamus odit minus
    laudantium.
</main>
<h1>Footer</h1>