<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit velit odio asperiores, cumque
        saepe quos!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, sapiente libero. Rem esse praesentium
        exercitationem.</p>
    <a href="http://google.com" class="btn btn-primary">Ir a Google</a>
</div>