<div class="row">
    <div class="col-10 col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                Signin
            </div>
            <img src="/img/img-login.jpg" class="rounded-circle mx-auto d-block m-4 logo" alt="">
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block">
                        Sign In !
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>